---

- name: Create nginx directories
  file: path="{{ item }}" state=directory
  with_items: "{{ nginx_docker_dirs }}"

- name: Create nginx.conf
  template: src=nginx.conf.j2 dest="{{ nginx_docker_conf_dir }}/nginx.conf"
  register: nginx_cnf

- name: Stop nginx container
  docker_container:
    name:  nginx
    image: nginx
    state: stopped
  when: nginx_cnf|changed

- name: Start nginx container
  docker_container:
    name:  nginx
    image: nginx
    state: started
    ports: "{{ nginx_docker_ports }}"
    volumes: "{{ nginx_docker_volumes }}"
    restart_policy: "unless-stopped"

- name: Create nginx services config files
  template: src=services.conf.j2 dest="{{ nginx_docker_conf_dir }}/conf.d/services.conf"
  register: svc_cnf

- name: Reload nginx config
  shell: docker kill -s HUP nginx
  when: svc_cnf|changed

- name: Create nginx logrotate config
  template:
    src:   logrotate.j2
    dest:  /etc/logrotate.d/nginx-docker
    mode:  0644

- debug: msg="Container name & port - {{ nginx_docker_container_name }}:{{ nginx_docker_container_port }}"

- name: Add nginx config for service
  include: add_service.yml
  when: nginx_docker_container_name|default(false) and not nginx_docker_remove_service

- name: Remove nginx config for service
  include: remove_service.yml
  when: nginx_docker_remove_service
