{{ nginx_docker_conf_dir }}/logs/*.log {
    weekly
    rotate 5
    missingok
    maxsize 500M
    notifempty
    sharedscripts
    compress
    postrotate
        if [ "$(docker ps -q --filter=name=nginx)" != '' ]; then
            docker kill -s HUP nginx
        fi
    endscript
}
