{% raw %}{{{% endraw %}if service "{{ nginx_docker_service_name }}" "any" {% raw %}}}{% endraw %}

location {{ nginx_docker_http_location_prefix }} {
  rewrite    {{ nginx_docker_http_location_prefix }}(.*)  {{ nginx_docker_http_uri }}$1 break;

{% if nginx_docker_proxy_cache_enable|bool %}
  # Enable Caching
  proxy_cache svc_cache;
{% for directive in nginx_docker_proxy_cache_directives %}
{% if not 'proxy_cache' in directive.split(' ') %}
  {{ directive }}
{% endif %}
{% endfor %}

{% endif -%}

  # Proxy the request
  proxy_pass http://{{ nginx_docker_service_name }};
  proxy_pass_header Server;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header X-Forwarded-Proto $scheme;
  proxy_set_header Host $host;
}
{% raw %}{{{% endraw %}else{% raw %}}}{% endraw %}

# No service object found for {{ nginx_docker_service_name }}
{% raw %}{{{% endraw %}end{% raw %}}}{% endraw %}
