
user  nginx;
worker_processes  {{ nginx_docker_worker_processes|default('auto') }};

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
    worker_connections  {{ nginx_docker_worker_connections }};
    #multi_accept on;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

{% if nginx_docker_json_log_format_enable|bool|default(false) %}
{% include 'nginx-json-log-format.j2' %}

    access_log  /var/log/nginx/access.log  custom_json;
{% elif nginx_docker_custom_log_fields|default([]) %}
    log_format  custom  '$remote_addr - $remote_user [$time_local] "$request" '
                        '$status $body_bytes_sent "$http_referer" '
                        '"$http_user_agent" "$http_x_forwarded_for" '
                        '${{ nginx_docker_custom_log_fields|join(" $") }}';

    access_log  /var/log/nginx/access.log  custom;
{% else %}
    access_log  /var/log/nginx/access.log  main;
{% endif %}

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  {{ nginx_docker_keepalive_timeout|default(65) }};

{% if nginx_docker_gzip_enable|default(false) %}
    gzip on;
    gzip_comp_level 4;
    gzip_min_length 1024;
    gzip_buffers 16 8k;
    gzip_proxied any;
    gzip_disable "MSIE [1-6]\.";
    gzip_types text/plain text/css text/js application/json text/xml application/xml;

{% endif -%}

    include /etc/nginx/conf.d/*.conf;
}
