{% raw %}{{{% endraw %}if service "{{ nginx_docker_service_name }}" {% raw %}}}{% endraw %}

upstream {{ nginx_docker_alias }}{{ nginx_docker_service_name }} {
    {% raw %}{{{% endraw %}range service "{{ nginx_docker_service_name }}" {% raw %}}}{% endraw %}

    server {% raw %} {{.Address}}:{{.Port}};
    {{end}}{% endraw %}

    keepalive 16;
}
{% raw %}{{{% endraw %}else{% raw %}}}{% endraw %}

# No service object found for {{ nginx_docker_service_name }}
{% raw %}{{{% endraw %}end{% raw %}}}{% endraw %}
